.user {
    gap: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    &__pic {
        width: auto;
        height: 100%;
        padding: 8px;
        display: flex;
        aspect-ratio: 1/1;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        max-height: $box-height;
        text-transform: uppercase;
        border: 1px solid rgba(0, 0, 0, 0.15);
        background-color: rgba(0, 0, 0, 0.1);
    }

    & span {
        font-size: 16px;
        color: $text-primary;
        text-transform: capitalize;
    }
}