.input {
    width: 100%;
    padding: 8px;
    height: $box-height;
    border-radius: $border-radius;
    
    // gap: 8px;
    // all: unset;
    // width: 100%;
    // cursor: pointer;
    // padding: 0 16px;
    // font-size: 14px;
    // font-weight: 600;
    // position: relative;
    // height: $box-height;
    // pointer-events: all;
    // box-sizing: border-box;
    // color: $primary-contrast-text;
    // border-color: 1px solid  !important;
    // transition: all 0.25s ease-in-out;

    &--text {
        height: auto;
        max-width: 100%;
        white-space: pre-wrap;
        overflow-wrap: break-word;
        word-break: break-word;
      }
}