.container {
    gap: 16px;
    width: 100%;
    display: flex;

    @include media-tablet {
        gap: 8px;
    }
    
    &__column {
    gap: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;

    @include media-tablet {
        gap: 8px;
    }
}
}